@import "../../styles/mixin";
@import "../../styles/variables";

.loader-container {
	width: 100%;
	height: 100%;
	@include display_flex(row, center, center);
	background-color: rgba(0, 0, 0, 0.201);

	.spinner {
		width: 20%;
		height: 20%;
		object-fit: contain;
	}
}
