@import "../../styles/mixin";
@import "../../styles/variables";

.user-icon-container {
	width: 50px;
	height: 50px;
	@include display_flex(row, center, center);
	background-color: white;
	border-radius: 100%;
	position: absolute;
	right: 20px;
	z-index: 1;
	cursor: pointer;
	transition: padding 0.3s ease-in-out;

	.icon {
		@include reset();
		width: 80%;
		height: 80%;
		color: black;
	}

	.indicator {
		width: 10px;
		height: 10px;
		border-radius: 100%;
		position: absolute;
		top: -3px;
		right: 7px;
	}

	&:hover {
		.icon {
			width: 70%;
			height: 70%;
			color: rgb(31, 166, 210);
		}
	}
}

.drawer-container {
	width: 25vw;
	height: 100vh;
	@include display_flex(column, flex-start, center);
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	position: absolute;
	top: 0;
	right: 0;
	transition: width 0.35s ease-in-out;

	.user-info-container {
		width: 100%;
		height: 10%;
		@include display_flex(column, center, center);
		background-color: rgb(140, 144, 146);
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

		.hide-drawer-button {
			width: fit-content;
			height: fit-content;
			@include display_flex(row, center, center);
			position: absolute;
			right: 5px;
			cursor: pointer;

			.icon {
				color: white;
				font-size: 25px;
			}
		}

		.login-button {
			width: 30%;
			height: 80%;
			@include display_flex(row, center, center);
			background: none;
			border: none;
			cursor: pointer;
			color: white;
			font-size: 20px;
			font-weight: 600;
			text-transform: uppercase;
			text-decoration: underline;
			position: relative;

			&:hover {
				color: rgb(31, 166, 210);
			}
		}

		.user-email {
			@include reset();
			color: white;
			font-size: 16px;
			font-weight: 600;
			text-transform: uppercase;
		}
	}

	.connector-button {
		width: 85%;
		height: 8%;
		margin-top: 5%;
		background-color: rgb(16, 222, 222);
		color: white;
		font-size: 16px;
		font-weight: bold;
		border-radius: 8px;
		text-transform: uppercase;
		border: none;
		cursor: pointer;
		box-shadow: 1px 1px 5px #aaa;

		&:hover {
			background: linear-gradient(to right, rgb(47, 47, 138), rgb(126, 63, 63));
		}

		&:disabled {
			cursor: not-allowed;
		}
	}

	.account-address {
		width: 85%;
		height: 8%;
		margin-top: 5%;
		@include display_flex(row, center, center);
		background: linear-gradient(to right, rgb(47, 47, 138), rgb(126, 63, 63));
		color: white;
		border-radius: 8px;
	}

	p {
		@include reset();
		margin-top: 5px;
		font-size: 14px;
		font-weight: 600;
		color: #555;
	}

	.login-instruction {
		width: 80%;
		height: 50%;
		margin: auto 0;
		@include display_flex(row, center, center);
		text-align: center;
		color: #555;
		font-weight: 600;
	}

	.drawer-menu-container {
		width: 98%;
		height: 100%;
		margin-top: 20px;

		.drawer-menu-item {
			width: 100%;
			height: 43px;
			margin-bottom: 5px;
			padding-left: 5px;
			@include display_flex(row, flex-start, center);
			border-radius: 3px;
			border-bottom: 1px solid lightgray;
			color: #222;
			font-size: 15px;
			font-weight: 600;
			cursor: pointer;
			text-decoration: none;

			.icon {
				@include reset();
				margin-right: 7px;
				color: #111;
				font-size: 20px;
			}

			&:hover {
				background-color: gray;
				color: white;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}

			&:visited {
				color: #222;
			}
		}
	}
}

.drawer-container.hidden {
	width: 0vw;
}
