@import "../../styles/mixin";
@import "../../styles/variables";

.Home {
	width: 100vw;
	min-height: 100vh;
	@include display_flex(column, flex-start, center);
	position: relative;
	overflow-y: scroll;

	.landing-page-image {
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		object-fit: fit;
		z-index: -2;
	}

	.shade {
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #ccc;
		opacity: 0.1;
		z-index: -1;
	}

	.components-container {
		width: 100%;
		height: 100%;
		@include display_flex(column, flex-start, center);
		opacity: 0;
		transition: opacity 0.35s ease-in-out;
	}

	.components-container.visible {
		opacity: 1;
	}
}
