@import "../../styles/mixin";
@import "../../styles/variables";

.search-bar-container {
	width: 100%;
	height: 100%;
	@include display_flex(row, space-between, center);

	.input-group {
		height: 100%;
		position: relative;

		.input-item {
			width: 100%;
			height: 100%;
			padding: 0 8px;
			font-size: 15px;
			border-radius: 5px;
			border: none;

			&:hover {
				border-radius: 8px;

				&::placeholder {
					font-size: 14px;
				}
			}
		}

		.label-icon {
			width: fit-content;
			height: fit-content;
			position: absolute;
			top: calc(50% - 12.5px);
			right: 3px;
			z-index: 1;

			.icon {
				font-size: 23px;
			}
		}
	}

	.input-group.text {
		width: 49.5%;
	}

	.input-group.number {
		width: 15%;

		.input-item {
			padding-left: 20%;
		}
	}

	.search-button {
		@include reset();
		width: 19%;
		height: 100%;
		background: linear-gradient(to right, #214e6c, #4095ce);
		color: white;
		font-size: 15px;
		font-weight: bold;
		border-radius: 5px;
		border: none;
		cursor: pointer;

		&:hover {
			background: linear-gradient(270deg, #f82a7e 0%, #752a90 100%);
		}

		&:active {
			opacity: 0.8;
		}
	}
}
